.body-admin{
    min-height: 600px;
    margin-top: 10px;
    .container{
        display: flex;
        height: 100%;
        .admin--left-menu{
            width: 21%;
            height: auto;
            min-height: 700px;
            margin-right: 1%;
            background: chocolate;
        }
        .body-admin--main{
            width: 78%;
            height: auto;
            background: #fff;
            padding-bottom: 10px;
        }
    }
}
@media screen and (max-width: 375px){
    .body-admin{
        .container{
            .admin--left-menu{
                display: none;
            }
            .body-admin--main{
                width: 100%;
            }
        }
    }
}