.card__hover{
    width: 300px;
}

.ant-popover-arrow{
    width: 20px;
    height: 20px;
}
.ant-popover-arrow-content{
    width: 100%;
    height: 100%;
}
.ant-popover-placement-right .ant-popover-arrow, .ant-popover-placement-rightTop .ant-popover-arrow, .ant-popover-placement-rightBottom .ant-popover-arrow{
    left: -1px;
}

.card__hover__title{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.card__hover__title h3{
    width: 100%;
    height: 100%;
     overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card__hover__item{
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card__hover__description p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card__hover__price{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #C92127;
}

.card__hover__price p{
    margin: 0;
    width: 100%;
    height: 100%;
}

.card__hover__rate{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.card__hover__price span{
    padding-left: 10px;
    font-size: 14px;
    font-weight:500;
    color: #929292;
    text-decoration: line-through;
}

