
.footer__contact{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

}
.contact__text {
  width: 80%;
  height: auto;
  margin: 0 0 10px 40px;
}
.container__contact__info{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__info{
  width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact__info p {
  text-align: left;
}





@media screen and (max-width: 1024px) {
 
  .footer__contact{
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .contact__text {
   margin: 0 0 5px 35px;
  }
  .container__contact__info{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: none;
  }
  
}