.container__detail{
  width: 1228px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 0.1px solid black;
}
.text__detail__header{
  width: 100%;
  background-color: burlywood;
  margin:0 0 15px 0;
  border-bottom: 1px solid grey;
}
.text__detail__header h2 {
  margin:0px 0 0px 10px;
  
}
@media screen and (max-width: 1024px) {
  .container__detail{
    width: 1023px;
  
   
  }
  

}
@media screen and (max-width: 375px) {
  .container__detail{
    width: 375px;
   
  }
  

}