.edit--password{
  width: 400px;
  height: auto;
 
  font-family: "Roboto";
  margin:10px 0 10px 0;
}
.edit--password__container{
  width: 100%;
  display: flex;
}
.edit--password__input{
  width: 100%;
  margin: 20px 0 0 0;
}
.edit--password__input label {
  margin: 0px 0 0 20px;
}

.edit--password__input__main{
  width: 90%;
  margin: 5px 0 0 20px;
}
.edit--password___btn__main{
  width: 45%;
  margin: 25px 0 0 20px;
}
.edit--password___btn__all{
  width: 98%;
  margin: 0 0 10px 0 ;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .edit--password{
      width: 100%;
    }
  .edit--password__input{
    width: 100%;
  }
  .edit--password__container{
    flex-wrap: wrap;
  }

}