 .admin-list-book{

    form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
    }
    .admin-form-edit--container{
        width: 47%;
        margin-top: 10px;
    }
    .admin-form-edit__select{
            width: 100%;
            
            .ant-upload .ant-upload-select .ant-upload-select-text{
                width: 100%;
            }
            .ant-upload{
                width: 100%;
            }
            button{
                width: 100%;
            }
        }
    }

.msg--error_list-book{
    color: red;
    font-size: 14px;
  
}
.admin-form-edit--btn{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    button{
        width: 20%;
        height: 40px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 375px){
   
    .admin-list-book{
    form{
        
    }
    .admin-form-edit--container{
        width: 100%;
        margin-top: 20px;
        padding: 0 10px;
    }
    }
    .msg--error_list-book{
        font-size: 14px;
        margin-top: 10px;
    
    }

    .admin-form-edit--btn{
        button{
            width: 40%;
        }
    }
}