.homebody-menu{
    display: flex;
    height: 481px;
    margin-bottom: 20px;
}

.homebody-new-card{
    width: 100%;
}

/* .home--body{
    padding-top: 85px;
} */
@media screen and (max-width: 1024px){
    .home--body{
        max-width: 100%;
    }

    .homebody-menu{
        height: 381px;
    }
}

@media screen and (max-width: 375px){
    .homebody-menu{
        height: 200px;
    }
}
