@import url(d:\Study\FE17\React\book-store\src\styles\header.css);
@import url(d:\Study\FE17\React\book-store\src\styles\logo.css);
@import url(d:\Study\FE17\React\book-store\src\styles\card-container.css);
@import url(d:\Study\FE17\React\book-store\src\styles\navigation.css);
@import url(d:\Study\FE17\React\book-store\src\styles\new-card-item.css);
@import url(d:\Study\FE17\React\book-store\src\styles\sale-card-container.css);
@import url(d:\Study\FE17\React\book-store\src\styles\search.css);
@import url(d:\Study\FE17\React\book-store\src\styles\sidebar.css);
@import url(d:\Study\FE17\React\book-store\src\styles\slideshow.css);
@import url(d:\Study\FE17\React\book-store\src\styles\featured-card-container.css);
@import url(d:\Study\FE17\React\book-store\src\styles\featured-card-item.css);
@import url(d:\Study\FE17\React\book-store\src\styles\card-hover.css);
@import url(d:\Study\FE17\React\book-store\src\styles\footer.css);
@import url(d:\Study\FE17\React\book-store\src\styles\about-footer.css);
@import url(d:\Study\FE17\React\book-store\src\styles\contact-footer.css);
@import url(d:\Study\FE17\React\book-store\src\styles\infor-footer.css);
@import url(d:\Study\FE17\React\book-store\src\styles\slide-footer.css);
@import url(d:\Study\FE17\React\book-store\src\styles\shipping.css);
@import url(d:\Study\FE17\React\book-store\src\styles\cart-notification.css);
@import url(d:\Study\FE17\React\book-store\src\styles\new-book-more.css);
@import url(d:\Study\FE17\React\book-store\src\styles\cart.css);
@import url(d:\Study\FE17\React\book-store\src\styles\cart-item.css);
@import url(d:\Study\FE17\React\book-store\src\styles\notification-hover.css);
.checkout--container {
  min-height: 600px;
}

.checkout--container .checkout--header {
  width: 100%;
  height: 50px;
  background: #FCDAB0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout--container .checkout--header h2 {
  font-weight: bold;
  padding-left: 10px;
}

.checkout--container .checkout--main {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout--container .checkout--main .checkout--main--form {
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 10px;
}

.checkout--container .checkout--main .checkout--main--form .checkout--main__header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ced4da;
}

.checkout--container .checkout--main .checkout--main--form .checkout--main__header h4 {
  font-weight: bold;
  padding-left: 10px;
}

.checkout--container .checkout--main .checkout--main--form form {
  width: 50%;
  height: auto;
  margin-top: 10px;
  padding: 0 10px;
}

.checkout--container .checkout--main .checkout--main--form form .checkout--main--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.checkout--container .checkout--main .checkout--main--form form .checkout--main--box label {
  width: 30%;
}

.checkout--container .checkout--main .checkout--main--form form .checkout--main--box input {
  width: 70%;
  border-radius: 10px;
}

.checkout--container .checkout--main .checkout--main--pay {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  height: auto;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ced4da;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__header h4 {
  font-weight: bold;
  padding-left: 10px;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__radio {
  width: 50%;
  padding-left: 10px;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__radio .checkout--main--pay__radio--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__radio .checkout--main--pay__radio--box .checkout--main__radio--item {
  margin-top: 10px;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__price {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__price p:first-child {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__price p:last-child {
  color: #F7941E;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__btn--box {
  width: 100%;
  height: 70px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__btn--box .checkout--main--pay__btn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__btn--box .checkout--main--pay__btn button {
  width: 50%;
  height: 60%;
  border: none;
  background: #C92127;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 375px) {
  .checkout--container {
    min-height: 650px;
  }
  .checkout--container .checkout--main .checkout--main--form form {
    width: 100%;
  }
  .checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__radio {
    width: 100%;
  }
  .checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__price p:first-child {
    width: 50%;
  }
  .checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__price p:last-child {
    width: 50%;
  }
  .checkout--container .checkout--main .checkout--main--pay .checkout--main--pay__btn--box {
    width: 100%;
  }
}

.ntf--container {
  min-height: 600px;
}

.ntf--container .container .ntf--main {
  width: 100%;
  height: auto;
  min-height: 600px;
  background: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
}

.ntf--container .container .ntf--main .ntf--main__tab1 {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .ntf--main__tab1 {
    min-height: 900px;
  }
}

@media screen and (max-width: 375px) {
  .ntf--container {
    min-height: 650px;
  }
  .ntf--main__tab1 {
    min-height: 650px;
  }
}

.order--table {
  width: 99%;
  margin-right: 1%;
}

.order--table td {
  border: 1px solid #000;
  text-align: center;
}

.order--table .order--table--header {
  width: 100%;
  height: 50px;
}

.order--table .order--table--header th {
  border: 1px solid #000;
  font-size: 16px;
}

.order--table .order--table--header .order--table__id {
  width: 3%;
}

.order--table .order--table--header .order--table__idcart {
  width: 7%;
}

.order--table .order--table--header .order--table__title {
  width: 35%;
}

.order--table .order--table--header .order--table__cartnumber {
  width: 5%;
}

.order--table .order--table--header .order--table__date {
  width: 10%;
}

.order--table .order--table--header .order--table__address {
  width: 20%;
}

.order--table .order--table--header .order--table__tt {
  width: 15%;
}

.order--table .order--table--header .order--table__cancel {
  width: 5%;
}

.order-phone {
  display: none;
}

@media screen and (max-width: 375px) {
  .order--table {
    display: none;
  }
  .order-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99%;
    height: auto;
    margin-right: 1%;
    border: 1px solid #000;
    margin-bottom: 5px;
  }
  .order-phone .order-phone--content {
    width: 90%;
    height: 100%;
  }
  .order-phone .order-phone--content .order-phone--content__container {
    width: 100%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #000;
  }
  .order-phone .order-phone--content .order-phone--content__container:last-child {
    border: none;
  }
  .order-phone .order-phone--content .order-phone--content__container p:first-child {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #000;
  }
  .order-phone .order-phone--content .order-phone--content__container p:last-child {
    width: 70%;
    height: 100%;
    padding-left: 3px;
  }
  .order-phone .order-phone--content .order-phone--content__container--title {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #000;
  }
  .order-phone .order-phone--content .order-phone--content__container--title p:first-child {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #000;
  }
  .order-phone .order-phone--content .order-phone--content__container--title p:last-child {
    width: 70%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-left: 3px;
    word-wrap: break-word;
  }
  .order-phone .order-phone--cancel {
    width: 10%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 1px solid #000;
  }
}

.bought-together {
  background: #fff;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 375px) {
  .bought-together {
    margin-left: 10px;
  }
}

.comment {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 10px;
}

.comment .comment--login {
  width: 100%;
  height: 30px;
  text-align: center;
}

.comment .comment--write {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #E8E8E8;
}

.comment .comment--write .comment--write--rate-star {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment .comment--write .comment--write--rate-star p {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding-left: 20px;
}

.comment .comment--write .comment--write--rate-star div {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment .comment--write .comment--write--content {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.comment .comment--write .comment--write--content p {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding-left: 20px;
}

.comment .comment--write .comment--write--content textarea {
  width: 70%;
  height: 100%;
}

.comment .comment--write .comment--write__btn {
  width: 85%;
  height: 50px;
  margin-left: 15%;
}

.comment .comment--write .comment--write__btn button {
  border: none;
  background: #C92127;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.comment .card-comment-container {
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .comment .comment--write .comment--write--rate-star p {
    width: 30%;
  }
  .comment .comment--write .comment--write--rate-star div {
    width: 70%;
  }
  .comment .comment--write .comment--write--content p {
    width: 30%;
  }
  .comment .comment--write .comment--write--content textarea {
    width: 65%;
  }
  .comment .comment--write .comment--write__btn {
    margin-left: 30%;
  }
}

.card-comment {
  width: 100%;
  min-height: 100px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.card-comment .card-comment--user {
  width: 15%;
  height: 100%;
}

.card-comment .card-comment--user p:first-child {
  font-weight: bold;
  font-size: 16px;
}

.card-comment .card-comment--user p:last-child {
  color: #7A7E7F;
}

.card-comment .card-comment-main {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-comment .card-comment-main div:first-child {
  width: 100%;
  height: 15%;
}

.card-comment .card-comment-main div:last-child {
  width: 100%;
  height: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 14;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

@media screen and (max-width: 375px) {
  .card-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 5px;
  }
  .card-comment .card-comment--user {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-comment .card-comment-main {
    width: 100%;
  }
}

@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.home {
  background: #F0F0F0;
  font-family: 'Roboto';
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

@media screen and (max-width: 1024px) {
  .container {
    width: 1023px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 374px;
  }
}
/*# sourceMappingURL=home.css.map */