
.footer__left{
  width: 30%;
  height: auto;
  margin-left: 15px;
  
}
.footer__left__main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; 
}
.left__text {
  width: 100%;
  height: auto;
}
.left__text p{
margin: 10px 0 10px 0;
}
.icon__left{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 5px;
}


.icon__top{
  display: flex;
  margin-top: 30px;
}
.icon__left ul li{
  width: 10%;
  list-style: none;
}
.icon__bottom{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.icon__bottom img{
  margin-right: 5px;
 }

@media screen and (max-width: 1024px) {
  
  .footer__left__main{
    width: 100%;
    margin-bottom: 20px;
    border-right: none;
    margin-left: 15px;
    
  }
  .left__text {
    width: 90%;
    margin-top: 5px;
    
  }
  .icon__left{
    display: none;
  }
  .icon__top{
    display: none;
  }
  .icon__bottom{
    flex-direction: row;
  }
  .icon__bottom img{
   margin-right: 5px;
  }

}