.container__detail__main{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding-bottom: 20px;
}
.data-table_1{
  width: 100%;
  height: auto;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0 0 0 20px;
}
.table-label{
  width: 45%;
  height: auto;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
}
/* TABLE_2 */
.data-table_2{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 20px;
}
.data-table_i p{
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.clear{
  width: 100%;
  height: 1px;
  background-color: #c1c1c1;
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .container__detail__main{
    width: 1023px;
  }
  .data-table_1{
    width: 100%;
    height: auto;
    
  }
  .data-table_2{
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
 
  .container__detail__main{
    width: 374px;
  }
  .data-table_1{
    width: 100%;
    height: auto;
    margin: 0 20px;
    
  }
  .data-table_2{
    width: 100%;
    
  }

}