.admin-list-book{
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;

    .admin-list-book_pagination{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .admin-list-search{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       
        
        .admin-list-book_select{
            display: flex;   
            width: 30%;
        }
        .input_search_text{
            display: flex;
            width: 20%;
        }
    }

    .admin-list-book--header{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        h2{
            font-weight: bold;
        }
    }
    
    .admin-form-edit__select{
        width: 100%;
    }
    
  

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;

    }
    .table td, table th{
        padding: 12px 15px;
        border: 0.1px solid black;
        text-align: center;
    }
    .table thead{
        background-color: #f7941e;
    }
    
  
    .table  tr:nth-child(even){
        background-color: rgb(255, 225, 104);
    }
  
 }

@media screen and (max-width: 375px){
    .admin-list-book{
    .admin-list-search{
        display: flex;
        .admin-list-book_select{
            width: 70%;
            margin-bottom: 5px;
         
        }
        .input_search_text{
            width: 100%;
        }
      }
    }
    
    .table thead{
        display: none;
    }
    .table, .table tr, .table td {
        display: block;
        width: 100%;
        font-size: 14px;
    }
    .table tr {
        margin-bottom: 15px;
        margin-top: 20px;
        .admin-list-book-name{        
        text-align: right;    
        font-size: 11px;
        height: auto;
        }
        
    }
    .table  td:last-child {
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 5px;
        width: 40%;
        padding-left: 15px;
        text-align: left;
        font-size: 13px;
        font-weight: bolder;
        // border: 0.1px solid red;
        color: rgb(58, 114, 236);
        
    }
   
}

