.login{
  width: 400px;
  height: auto;
  border-radius: 5px;
  padding-top: 30px;
  font-family: "Roboto";
}
.login__btn__head{
  height: auto;
  margin: 20px 0 0 5px;
  display: flex;
  justify-content:space-between;
}

.login__btn {
  width: 42%;
  margin: 0 0 0 15px;
}
.login__btn-rgt{
  width: 42%;
  margin: 0 20px 0 0;
}
.register__btn-login{
  width: 45.5%;
  margin: 0 0 0 15px;
}
.register__btn-rgt{
  width: 45.5%;
  margin: 0 10px 0 0;
}
.login__btn:hover{
  background: #ff4d4f;
  color:#fff
}
.login__input{
  width: 100%;
  margin: 20px 0 0 0px;
}
.login__input label {
  margin: 0px 0 0 20px;
}

.login__input__main{
  width: 90%;
  margin: 5px 0 0 20px;
}
.login__btn__main{
  width: 50%;
  margin: 25px 0 0 100px ;
  justify-content: space-between;
}
.login__btn__all{
  width: 100%;
  margin: 0px 0 10px 0px ;
}
@media screen and (max-width: 375px) {
  .box--login__container{
    width: 260px;
  }
  .login{
    width: 100%;
    padding-top: 10px;
  }
  .login__input__main{
    width: 55%;
    margin: 5px 0 0 20px;
  }
 
  .login__btn__head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .login__btn:hover{
  background: #fff;
  color:#ff4d4f
}
  .login__btn {
  width: 70%;
  margin: 0 0 10px 40px;
}
.login__btn-rgt{
  width: 70%;
  margin: 0 0 0 40px;
}
  .register__btn-login{
    width: 42%;
    margin: 0 0 0 15px;
  }
  .register__btn-rgt{
    width: 42%;
    margin: 0 10px 0 0;
  }
  .login__input{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .login__input label {
    display: flex;
    align-items: center;
  }
  .login__btn__all{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
  .login__btn__main{
    margin: 0;
    width: 70%;
  }
  .login__btn__main:first-child{
    margin-top: 25px;
  }
}