
.container__notice{
  width: 1228px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  border: 0.1px solid black;
  background-color: white;
}
.notice__title__header{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 5px solid rgb(255, 205, 111); 
}
.notice__title__header__up{
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}
.notice__title__header__up button{
  width: 100%;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: grey;
  background: none;
  margin:5px 0 0  20px;
  cursor: pointer;

}
 button:hover{
  height: 45px;
   color: white;
   background-color: rgb(243, 77, 55);
   border-radius: 5px;
 }

.notice__title__content{
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  background-color: rgb(255, 205, 111);

}


.notice__content{
  width: 100%;
  height: auto;
}
.notice__content__main{
  height: 500px;
  width: 70%;
  overflow: scroll;
  margin: 0 auto;
  border-left:1px solid rgb(255, 205, 111) ;
  border-right:1px solid rgb(255, 205, 111) ;

}




@media screen and (max-width: 1024px) {
 
  .container__notice{
    width: 1023px;
  }
  .notice__title__header{
    width: 100%;
  }
  .notice__content_0{
    width: 80%;
    height: auto;
  }

}

@media screen and (max-width: 375px) {
  .container__notice{
    width: 374px;
  }
  .notice__title__header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
   
  }
  .notice__title__header__up{
    width: 100%;
  }
  .notice__content__main{
    width: 100%;
   
  }
  .notice__content{
    width: 100%;
    
  }
  .notice__content_0{
    width: 80%;
    height: auto;
  }
  .container__notice{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  
  }
  .notice__personal{
    width: 40%;
    margin-left: 5px;
  }
  .notice__product{
    width: 45%;
  }
  
}