.ntf--container{
    min-height: 600px;

    .container{
        .ntf--main{
            width: 100%;
            height: auto;
            min-height: 600px;
            background: #fff;
            padding-bottom: 10px;
            padding-left: 10px;

            .ntf--main__tab1{
                width: 100%;
                height: auto;
            }
        }
    }
}