.register-form{
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-family: "Roboto";
}
.register__btn {
  width: 45%;
  margin: 5px 0 0 10px;

}
.register__btn__head{
  width: 400px;
  height: auto;
  margin: 0 0 0 5px;
}
.register-container{
  width: 95%;
  display: flex;
}
.register__input{
  width: 50%;
  margin: 20px 0 0 0;
}

.register__input__address label{
  margin: 0px 0 0 20px;
}
.register__input label {
  margin: 0px 0 0 20px;
}

.register__input__main{
  width: 90%;
  margin: 5px 0 0 20px;
}
.register__btn__main{
  width: 44%;
  margin: 25px 0 0 20px;
}
.register__btn__main--2{
  width: 44%;
  margin: 25px 0 0 20px;
}
.register__btn__all{
  width: 98%;
  margin: 10px 0 0 0 ;
  display: flex;
}
.ant-picker{
  width: 100%;
}
.msg--error_register{
  margin: 5px 0px 0 20px;
  display: flex;
  color: red;
}

@media screen and (max-width: 375px) {
  .register-form{
      width: 100%;
    }
  .register__input{
    width: 100%;
  }
  .register-container{
    flex-wrap: wrap;
  }
  .msg--error_register{
    margin: 5px 0px 0 20px;
  }
}