.box--edit__container{
  width: 400px;
  height: auto;
  border: 0.1px solid black;
}
.edit--infor{
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-top: 10px;
  font-family: "Roboto";
}
.edit--infor__input{
  width: 100%;
  margin: 20px 0 0 0px;
}
.edit--infor__input label {
  margin: 0px 0 0 20px;
}

.edit--infor__input__main{
  width: 90%;
  margin: 5px 0 0 20px;
}
.edit--infor__btn__main{
  width: 100%;
  margin: 15px 0 0 0px ;
 
}
.edit--infor__btn__all{
  width: 100%;
  margin: 0px 0 20px 0px ;
  display: flex;
  flex-wrap: wrap;
}
#edit--infor__text__head{
  font-size: 25px;
  font-weight: bolder;
  margin-left: 80px;
}

#edit--infor__save{
  margin: 0 0 0 120px;
}

@media screen and (max-width: 375px) {
  .box--edit__container{
    width: 260px;
  }
  .edit--infor{
    width: 100%;
    padding-top: 10px;
  }
  .edit--infor__input__main{
    width: 90%;
    margin: 5px 0 0 20px;
  }
  .edit--infor{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .edit--infor__input label {
    display: flex;
    align-items: center;
  }
  .edit--infor__btn__all{
    display: flex;
    flex-direction: column;
}
  .edit--infor__btn__main{
    margin: 10px 0 0 5px;
    width: 100%;
  }
  #edit--infor__save{
    margin: 10px 0 0 60px;
  }
  #edit--infor__text__head{
    
    margin-left: 20px;
  }

  .edit--infor__btn__main:first-child{
    margin-top: 15px;
  }
}