.ant-input-search-large .ant-input-search-button{
    height: 42px;
}
.ant-btn-primary{
    border-color: #F7941E;
    background: #F7941E;
}

.ant-btn-primary:hover{
    border-color: #FFA54F;
    background: #FFA54F;
}

.ant-input-group .ant-input{
    border:solid 2px #F7941E
}

.ant-input-group .ant-input:hover{
    border:solid 2px #F7941E;
}