@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}

.sidebar-table{
    font-family: Roboto;
    width: 300px;
    border: 1px solid #FCDAB0;
}

.sidebar-table-header{
    background: #F7941E;
    color: #fff;
    height: 40px;
}

.sidebar-table td{
    border-bottom: 1px solid #FCDAB0;
    text-align: center;
    height: 40px;
}

.sidebar-table td:hover{
    background: #FCDAB0;
}