.slide-show{
  width: 74%;
  margin-left: 1%;
  height: 100%;
}

.slide{
    width: 100%;
}

.each-slide{
    height: 481px;
}
.each-slide > div {
  background-size: 100% 481px;
  height: 100%;
  background-repeat: no-repeat;
}



